{%- set jsurl =
    "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/%s/Chart.min.js" % jsver
-%}
{%- set TITLE = "Lebanon Traffic Dashboard" -%}
{%- set FOSS =
    'This is a free open-source site released under a '
    '<a href="https://gitlab.com/isf-traffic/isf-traffic.gitlab.io/blob/master'
    '/LICENSE" target="_blank">GNU General Public License (GPLv3)</a>. '
    'For feedback and code contributions please check out the '
    '<a href="https://gitlab.com/isf-traffic/isf-traffic.gitlab.io/" '
    'target="_blank">project on GitLab.com</a>.'|safe
-%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/favicon.png" />
        <title>{{ TITLE }} - {{ website }}</title>
        {% block apphead -%}
        {% endblock -%}
        <script type="text/javascript" charset="UTF-8">
        /* <!--[CDATA[ */
(function(win, doc) {
    /**
     * Lebanon Traffic Dashboard Scripts
     * @author: Joseph Choufani &lt;joseph.choufani.dev@gmail.com&gt;
     * @license: GPLv3 &lt;https://gitlab.com/isf-traffic/isf-traffic.gitlab.io/blob/master/LICENSE&gt;
     **/
    "use strict";
    {% if not localmode -%}
    //  Redirects insecure HTTP to HTTPS
    var loc = win.location.href, http = /^http\:/, https = "https:";
    http.test(loc) && win.location.replace(loc.replace(http, https));
    {% endif -%}
    {% block scriptdef -%}
    {% endblock -%}
    var /** @const  {string}    Page hostname. */
        hostname = win.location.host || win.location.hostname,
        /** @const  {RegExp}    Local links detection RegExp. */
        {% if localmode -%}localReg = /file:\/\/[^#]*(#)?/;{% else -%}
        localReg = new RegExp("https?:\/\/" + hostname + "\/[^#]*(#)?");
        {% endif -%}
    /**
     * Override a local link's click behaviour.
     * @param   {Event}     ce      Click event.
     */
    function handleLinks(ce) {
        var link = ce.target, url = link.href, isLocal = localReg.exec(url),
            isSection = url.split('#')[0] == win.location.href.split('#')[0],
            targetSection = isSection ? url.split('#')[1] : "";
        if(isLocal
           && (isSection && targetSection
               || !isLocal[1] && link.getAttribute("download") == null)) {
            //  Overrides sections navigations and other domain pages
            ce.preventDefault();
            ce.stopPropagation();
            //  Proper behaviour
            if (isSection) {
                try { win.history.replaceState(null, doc.title, url); }
                catch(err) {}
                var section = $query(
                    '#' + targetSection + ', [name=' + targetSection + ']'
                );
                if(section) section.scrollIntoView({"behavior": "smooth"});
            }
            else win.location.replace(url);
        }
    }
    doc.addEventListener("readystatechange", function(re) {
        var doc = re.target || doc;
        if (doc.readyState == 'interactive') {
            //  Overrides page's links behaviour
            var allAnchors = doc.getElementsByTagName("a");
            for(var i = 0; i < allAnchors.length; ++i)
                allAnchors[i].addEventListener("click", handleLinks, true);
            {% block scriptload -%}
            {% endblock -%}
        }
    });
    {%- block userScript %}{% endblock %}
})(window, window.document);
        /* ]]--> */
        </script>
        <style type="text/css" charset="UTF-8">
        /* <!--[CDATA[ */
/**
 * Lebanon Traffic Dashboard Styles
 * @author: Joseph Choufani &lt;joseph.choufani.dev@gmail.com&gt;
 * @license: GPLv3 &lt;https://gitlab.com/isf-traffic/isf-traffic.gitlab.io/blob/master/LICENSE&gt;
 **/
* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body { width: 100%; }
body {
    font-family: Helvetica,Arial,sans-serif;
    background-color: #fff; color: #696969;
    margin:0; padding: 0.25em;
}
h1, h2 { color: #166ba4; }
a, a:active, a:visited { color: #2e86c1; text-decoration: none; }
a:hover { color: #d35400; }
#main-container { padding-top: 3em; }
.foss { padding: 1em; font-size: 0.75em; font-family: monospace,sans-serif; }
.disclaimer {
    width: 40em; max-width: 100%;
    font-size: 0.8em; margin: 1em auto; padding: 0.5em;
    background-color: #e1e5e9; color: #064897;
    border: 1px solid #d1d5d9;
    -moz-border-radius: 0.33em; -webkit-border-radius: 0.33em;
    border-radius: 0.33em;
}
#bottom-container { font-size: 0.75em; text-align:center; padding: 1em; }
#top-bar {
    position: fixed; left:0; top:0; right:0;
    min-height: 3.25em; padding: 0.5em;
    -moz-box-shadow:0.1em 0.1em 0.1em #909090;
    -webkit-box-shadow:0.1em 0.1em 0.1em #909090;
    box-shadow:0.1em 0.1em 0.1em #909090;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACAElEQVRYhe2UMWsUURDH51QSlcvtvXnLdWKhIn4A7ZQQixgEm+MIKjYixxG93L55q4mFcuQuN/O2iaCVNoJYaK8gWFhZCELAyg+gNhIRBSOoa3Hu5U4Dysqm2h9stW/nN//HzALk5OTkbDVn2yVsLU8r4q4yciZzX7HRriBxFa3cUMa91OS++2EU+2EUl1tyLFN5qcWHNbmviXD40eTWYHJyR6YNAAAgcXU49aABI/czlw81ce33BlTAp7dAHRcw4AvKyvpIeivfvEVW2brr9d3auruJUBm+rMhd9cMoVuSeZeqeaHUOasuv/DCK0cpbZXpHk3eaXA8N28zkSDyL1n3qJ3dPi412ZfREXIDzVyb+qVhprr1fGb70Z5FNmGmOa3I3f135DyRegtrD7WlCAMw0x9HI9WR4lJV1ZeR2Megc2uz4zovdvdrKi/56ufdo+EQ6MQB4AU+hldd+GMVI7gtaeYBWPicTjFYee/PLxwHiAgCACuSkJrfWl/PzXXPdPanExUa7oknubfwo+InX7OwDAPAWWSniBU3uzWCPrVtF6+4MGgtkBWq1sTTubb7lurbyoZ9a3iHxbJJwhFptrBz0zinrVjd2mj8icTVVagAARdxNBkeT3FIL4v39q7jgBTyFgayU5jsHUssBAMqt3ilF7lHJdI/8V6GcnJyclPwEG2rq488ggSIAAAAASUVORK5CYII=') center/2em 2em no-repeat;
    background-color: rgba(255, 255, 255, 0.95);
}
{% block style -%}
{% endblock -%}
        /* ]]--> */
        </style>
    </head>
    <body>
        <div id="main-container">
            <div id="top-container">
                <h1>{% block pagename -%}{{ TITLE }}{% endblock -%}</h1>
                <div id="sub-title">
                {% block subtitle -%}
                    Aggregator site for traffic data tweeted by
                    <a href="https://twitter.com/LebISF" target="_blank">
                    @LebISF</a> and
                    <a href="https://twitter.com/tmclebanon" target="_blank">
                    @TMCLebanon</a>.
                {% endblock -%}
                </div>
            </div>
            <div class="foss">{{ FOSS }}</div>
        {% block contents -%}
        {% endblock -%}
            <div class="disclaimer">
            {% block disclaimer -%}
            {% endblock -%}
            </div>
            <div class="foss">{{ FOSS }}</div>
        </div>
        <div id="bottom-container">
            {{ release }}
            &mdash; Powered by
            <a href="https://pages.gitlab.io/">GitLab Pages</a>
            and <a href="http://www.chartjs.org/">Chart.js</a>
        </div>
        <div id="top-bar">
        {% block navigation -%}
        {% endblock -%}
        </div>
    </body>
</html>
