{%- extends "master.html" -%}
{% block apphead -%}
        <script src="{{ jsurl }}" charset="UTF-8">
        </script>
{% endblock -%}
{% block scriptdef %}
    var /** @type   {Object}    Latest data mirror.  */ allData = {},
        /** @type   {Object}    Current view's data. */ currData = {},
        /** @const  {string}    Summary view name.   */ VIEW1 = "summary",
        /** @const  {string}    Yearly view name.    */ VIEW2 = "yearly",
        /** @const  {string}    Monthly view name.   */ VIEW3 = "monthly";
    /**
     * Query wrapper
     * @param   {string}    str     Query selector string.
     * @param   {boolean=}  all     Optional select-all flag.
     * @returns {Node|NodeList} Selected node or list of nodes.
     */
    function $query(str, all) {
        return doc["querySelector" + (all ? "All" : "")](str);
    }
    /**
     * Create an element.
     * @param   {string}    tag     Element tag name.
     * @param   {Node=}     parent  Optional parent node.
     * @returns {Element}   Created element.
     */
    function $element(tag, parent) {
        var /** @type {Element} Created element. */
            el = doc.createElement(tag);
        return /** @type {!Element} */ (parent ? parent.appendChild(el) : el);
    }
    //  Checks all vendors prefixes for `requestAnimationFrame`
    var /** @const  {string} */
        rAF = "requestAnimationFrame",
        /** @const  {string} */
        RAF = "RequestAnimationFrame",
        /** @const  {Array<string>}     List of vendors. */
        vendors = ["webkit", "moz", "o", "ms"];
    while(!win[rAF] && vendors.length) win[rAF] = win[vendors.pop() + RAF];
    //  Resorts finally to a basic implementation based on `setTimeout`
    if(!win[rAF]) win[rAF] = function(cb) { win.setTimeout(cb, 50); }
    /**
     * Display the latest update date in the last-update container.
     */
    function displayLastUpdate() {
        if(allData.last) $query("#last-update").innerHTML = allData.last;
    }
    /**
     * Display current data details.
     * @param   {boolean}   reset   Data reset flag.
     **/
    function displayData(reset) {
        var /** @type   {Element}   List data container element. */
            container = $query("#list-data"),
            /** @type   {Element}   More button container element. */
            more_container = $query("#load-more"),
            /** @type   {number}    Current data index. */
            idx = !reset && parseInt(container.dataset.max) || 0;
        if(reset) container.innerHTML = "";
        more_container.innerHTML = "";
        //  Updates view by a maximum of 10 items
        var limit = idx + 10;
        for (var i=idx; i < limit && i < currData.data.length; ++i) {
            var /** @type   {Object}    Current record data */
                record = currData.data[i],
                /** @type   {Element}   Current row container */
                row = $element("div", container);
        {% block displayData -%}
            /*  Customise data view for each template. */
        {% endblock -%}
        }
        container.dataset.max = i;
        //  More button
        if (limit < currData.data.length) {
            var more_btn = $element("a", more_container);
            more_btn.href = "#"; more_btn.className = "more-btn";
            more_btn.innerHTML = "More";
            more_btn.addEventListener("click", function(ce) {
                displayData();
                ce.preventDefault();
            });
        }
    }
    /** @const  {Array<Object>}     All datasets definitions. */
    var allDatasets = [
    {% block allDatasets -%}
        /* Customise datasets for each template. */
    {% endblock -%}
    ];
    /**
     * Load a copy of a dataset definition from all available datasets.
     * @param   {number}    idx     Dataset index in `allDatasets`.
     * @returns {Object}    Initialised copy of dataset definition.
     */
    function loadDataset(idx) {
        var /** @type   {Object}    Target definition object */
            dataset = {},
            /** @type   {Object}    Source definition object */
            srcDataset = allDatasets[idx];
        //  Copies all source dataset definition's properties
        for (var prop in srcDataset) dataset[prop] = srcDataset[prop];
        //  Initialises data array
        dataset.data = [];
        return dataset;
    }
    /**
     * Draw a chart from `currData`.
     * @param   {boolean=}  singleMode  Single-dataset mode flag.
     * @param   {boolean=}  largeScale  Large-scale mode flag.
     */
    function drawChart(singleMode, largeScale) {
        //  Destroys any previous chart
        if (currData.viewChart) currData.viewChart.destroy();
        //  Calculates all chart datasets maximum values
        var maxVals = [];
        for(var i=0; i < currData.chartData.datasets.length; ++i) {
            maxVals.push(
                Math.max.apply(null, currData.chartData.datasets[i].data)
            );
        }
        //  Displays new chart
        var /** @dict   Chart views maximum values. */
            maxs = {
            {% block maxs -%}
                /* Customise chart views max values. */
            {% endblock -%}
            },
            /** @const  {Array<Object>}     Chart axes. */
            axes = [
            {% block axes -%}
                /* Customise chart axes. */
            {% endblock -%}
            ];
        currData.viewChart = new Chart("data-chart", {
            "data": currData.chartData,
        {% block chartType -%}
            "type": "bar",
        {% endblock -%}
            "options": {
            {% block chartOptions -%}
                "scales": {},
            {% endblock -%}
                "onClick": function(ce, activeElements) {
                    //  Active when a chart element is clicked
                    if(activeElements.length) {
                        var /** @type   {Node}      Clicked chart element. */
                            el = activeElements[0],
                            /** @type   {string}    Element's label. */
                            lbl = currData.chartData.labels[el._index],
                            //  Matches summary or yearly views labels only
                            match = /^\d{4}(-\d{2})?$/.exec(lbl);
                        //  Disabled in monthly view
                        if (match) {
                            var view = match[1] ? VIEW3 : VIEW2;
                            win.requestAnimationFrame(function() {
                                /** @type   {Element}   View tab element. */
                                var tgt = $query(
                                    '.viz-tab[data-view="' + view + '"]'
                                );
                                switchView(
                                    {"target": tgt},
                                    //  Sets selected subview to current label
                                    lbl
                                );
                            });
                        }
                    }
                }
            }
        });
    }
    /**
     * Build chart data.
     * @param   {Object}    chartOptions    Chart data options object.
     */
    function buildChartData(chartOptions) {
        var /** @type   {Object}    Active options. */
            opts = chartOptions || {},
            /** @type   {Array<string>}     List of X-axis labels. */
            lbls = opts.labels,
            /** @type   {Array<Object>}     Active chart datasets. */
            chartDatasets = [];
    {% block buildChartData -%}
        //  Customise the data building process for each page
    {% endblock -%}
        //  Loads built chart data
        currData.chartData = {"labels": lbls, "datasets": chartDatasets};
    }
    /**
     * Build summary view.
     */
    function summaryView() {
        if(currData.view != VIEW1) {
            //  Re-generates data on view change
            var /** @type   {Object}    Chart data options. */ opts = {};
            // Resets current data
            currData.data = [];
        {% block summaryView -%}
            //  Customise summmary view data parsing into `opts`.
        {% endblock -%}
            buildChartData(opts);
            currData.view = VIEW1;
        }
        drawChart();
    }
    /**
     * Build yearly view.
     * @param   {string=}   viewSelection   Optional selected sub-view.
     */
    function yearlyView(viewSelection) {
        var /** @type   {Element}   Sub-views selector. */
            viewSelector = $query("#view-selector"),
            /** @type   {string}    Current selected sub-view. */
            selection = viewSelection ||  (
                viewSelector.selectedIndex == -1
                ? viewSelector.options[0].value
                : viewSelector.options[viewSelector.selectedIndex].value
            ),
            /** @type   {Object}    Chart data options. */ opts = {};
        /** @type   {boolean}   Cumulative mode flag. **/
        opts.cumulative = $query("#cumulative-mode").checked;
        // Resets current data
        currData.data = [];
    {% block yearlyView -%}
        //  Customise yearly view data parsing into `opts`.
    {% endblock -%}
        buildChartData(opts);
        currData.view = VIEW2; currData.selected[VIEW2] = selection;
        drawChart(false, opts.cumulative);
    }
    /**
     * Build monthly view.
     * @param   {string=}   viewSelection   Optional selected sub-view.
     */
    function monthlyView(viewSelection) {
        var /** @type   {Element}   Sub-views selector. */
            viewSelector = $query("#view-selector"),
            /** @type   {string}    Current selected sub-view. */
            selection = viewSelection ||  (
                viewSelector.selectedIndex == -1
                ? viewSelector.options[0].value
                : viewSelector.options[viewSelector.selectedIndex].value
            ),
            /** @type   {Object}    Chart data options. */ opts = {};
        /** @type   {boolean}   Cumulative mode flag. **/
        opts.cumulative = $query("#cumulative-mode").checked;
        // Resets current data
        currData.data = [];
    {% block monthlyView -%}
        //  Customise monthly view data parsing into `opts`.
    {% endblock -%}
        buildChartData(opts);
        currData.view = VIEW3; currData.selected[VIEW3] = selection;
        drawChart(true, opts.cumulative);
    }
    /**
     * Show views based on names.
     * @param   {string}    viewName        View's name.
     * @param   {boolean=}  refreshData     Optional AJAX data refresh flag.
     * @param   {boolean=}  keepDataView    Optional data view reset disable
     *                                      flag.
     */
    function showView(viewName, refreshData, keepDataView) {
        /**
         * Select a view and show it.
         */
        function doShow() {
            switch(viewName) {
            case VIEW1: summaryView(); break;
            case VIEW2: yearlyView(currData.selected[VIEW2]); break;
            case VIEW3: monthlyView(currData.selected[VIEW3]); break;
            default:
                console.error(viewName, refreshData);
                throw viewName;
            }
            //  Resets data details
            if(!keepDataView) displayData(true);
        }
        if(refreshData) {
            //  Data refresh mode via AJAX
            var xhr = new XMLHttpRequest, cover = $query("#loading-cover"),
                url = "{{mode}}.json?r=" + (new Date().valueOf().toString());
            xhr.open("GET", url, true);
            //  Mutes errors thrown by some browsers
            try { xhr.responseType = "json"; } catch(err) {}
            xhr.addEventListener("readystatechange", function(le) {
                var xhr = le.target || xhr;
                if (xhr.readyState == 4 && xhr.status == 200) {
                    //  Ensures JSON object
                    var rsp =
                        (typeof xhr.response == "object")
                        ? xhr.response : JSON.parse(rsp);
                    //  Updates data
                    for (var prop in rsp) allData[prop] = rsp[prop];
                    //  Updates last-update date
                    displayLastUpdate();
                    //  Displays view
                    doShow.call();
                }
                else if(xhr.readyState == 4) xhr.onerror.call();
                //  Hides loading cover on completion
                cover.style.display = xhr.readyState == 4 ? "none" : "unset";
            });
            xhr.onerror = xhr.ontimeout = function() {
                //  Displays warning message
                var warn = $element("div", doc.body);
                warn.className = "warning";
                warn.innerHTML = "Oops! Failed to get data from server.";
                //  Hides loading cover
                cover.style.display = "none";
                //  Sets warning message timeout (10s)
                win.setTimeout(function() {
                    warn && doc.body.removeChild(warn);
                }, 10000);
            };
            //  Shows loading cover and sends non-blocking async request
            cover.style.display = "unset";
            xhr.send();
        }
        else doShow.call();
    }
    /**
     * Function that handles a click on a switcher tab
     * @param   {Event|Object}  ce           Real or emulated click event.
     * @param   {string=}       subview      Sub-view name (optional).
     */
    function switchView(ce, subview) {
        var /** @type   {Element}   Trigger tab element. */
            currTab = ce.target,
            /** @type   {boolean}   Tab-selection detection flag. */
            isSelected;
        try { isSelected = currTab.classList.contains("selected"); }
        catch(err) {
            var classList = currTab.className.split(" ");
            isSelected = classList.indexOf("selected") != -1;
        }
        if(!isSelected) {
            //  Finds selected tab and deselects it
            var selectedTab = currTab.parentNode.querySelector(".selected");
            try { selectedTab.classList.remove("selected"); }
            catch(err) {
                var classList = selectedTab.className.split(" ");
                classList.splice(classList.indexOf("selected"), 1);
                selectedTab.className = classList.join(" ");
            }
            //  Selects current tab
            currTab.className += " selected";
            //  Updates view selector
            var currView = currTab.dataset.view,
                viewOpts = $query("#viz-opts"),
                selector = $query("#view-selector");
            switch(currView) {
            case VIEW1:
                //  Hides view selector in summary mode
                viewOpts.style.display = "none";
                break;
            case VIEW2: case VIEW3:
                viewOpts.style.display = "unset";
                //  Reloads selector options
                while (selector.options.length)
                    selector.options.remove(selector.options[0]);
                var opts =
                    currView == VIEW2 ? allData.years : allData.months;
                for (var i=0; i < opts.length; ++i) {
                    var opt = $element("option");
                    opt.text = opt.value = opts[i];
                    if (opts[i] == subview) opt.selected = "selected";
                    selector.add(opt, null);
                }
                currData.selected[currView] = subview;
            }
            showView(currView);
        }
    }
{% endblock %}
{% block scriptload %}
            //
            Chart.defaults.global.defaultFontSize = 9;
            currData.selected = {};
            var switchTabs = $query(".viz-tab", true);
            for (var i=0; i < switchTabs.length; ++i)
                switchTabs[i].addEventListener("click", switchView);
            //  Selector behaviour (temporary)
            $query("#view-selector").addEventListener("change", function(ce) {
                currData.selected[currData.view] =
                    ce.target.options[ce.target.selectedIndex].value;
                showView(currData.view);
            });
            //  Switch cumulative view
            $query("#cumulative-mode").addEventListener("click", function(ce) {
                showView(currData.view);
            });
            //  Refresh button behaviour
            $query("#view-refresh").addEventListener("click", function(ce) {
                //  Updates data asynchronously and reloads current view
                showView(currData.view, true);
                ce.preventDefault();
            });
            currData.vw = doc.documentElement.offsetWidth;
            //  Window resize behaviour
            win.addEventListener("resize", function() {
                var currW = doc.documentElement.offsetWidth;
                if (currW != currData.vw) {
                    currData.vw = currW;
                    showView(currData.view, null, true);
                }
            });
            //  Asynchronously loads data and shows the summary view
            //> by default.
            showView(VIEW1, true);
            //  Handle navigation to top of page
            $query("[name=this]").addEventListener('click', function(ce) {
                ce.preventDefault(); ce.stopPropagation();
                try { win.history.replaceState(null, doc.title, '#'); }
                catch(err) {}
                doc.body.scrollIntoView({"behavior": "smooth"});
            });
{% endblock %}
{% block style -%}
.top-link {
    background-color: #0b80c4; padding: 0.33em;
    text-align: center; text-decoration: none;
    -moz-border-radius: 0.2em; -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
}
.top-link, .top-link:hover, .top-link:visited { color: #fff; }
.top-link:hover { background-color: #0070c0; }
#back-lnk { float: left; }
#fwd-lnk { float: right; padding-top: 0.25em; }
/* Multi-device size behaviour */
@media (min-width: 640px) { body { font-size: 16px; } }
#loading-cover {
    position:absolute; left:0; top:0; right:0; bottom:0;
    background-color: rgba(250, 250, 250, 0.95);
    text-align:center;
}
.centered {
    position: absolute; left:50%; top:50%;
    -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
}
#howto { padding: 0.5em; color: #2e86c1; cursor: pointer; }
#howto:hover { color: #d35400; }
#howto-ctl { display: none; }
.explainer, #note { font-size: 0.8em; padding: 0.5em; }
.explainer { display: none; }
#howto-ctl:checked + .explainer { display: unset; }
#data-viz { position: relative; }
#viz-switcher { padding: 0.5em; font-size: 0.8em; }
.viz-tab {
    font-family: Arial, sans-serif; background-color: #f7f7f7;
    padding: 0.33em; margin: 0; cursor: pointer;
    text-decoration:underline;
    -moz-border-radius: 0.33em; -webkit-border-radius: 0.33em;
    border-radius: 0.33em;
}
.viz-tab.selected {
    font-weight: bold; background-color: #c0c0c0; cursor:default;
    text-decoration:none; font-size: 1em;
}
.viz-tab:not(.selected):hover { background-color:#f0f0f0; }
/* View selector is hidden by default (summary mode) */
#viz-opts { display: none; }
#viz-opts > label {
    padding: 0.125em; margin: 0.2em; border: 1px dashed #696969;
    display: inline-block;
    -moz-border-radius: 0.33em; -webkit-border-radius: 0.33em;
    border-radius: 0.33em;
}
#cumulative-mode { vertical-align: middle; }
#viz-chart {
    height: 20em; max-height: 100vmin;
    position:relative; border: 1px solid; padding: 0.25em;
}
#viz-chart-wrapper { width:40em; max-width: 100%; max-height: 100%; }
#list-view, #list-header, #list-data { width: 100%; display: table; }
#list-view > div, #list-header > div, .list-row, .detail-row {
    display:table-row; width: 100%;
}
.table-wrapper { display: table-cell; width: 100%; }
.list-col {
    font-family: Arial,sans-serif; font-size: 0.8em; display:table-cell;
    min-width:20%; width:20%; max-width:20%; padding:0.5em;
}
.list-col.fill { min-width:40%; width:40%; max-width:40%; }
.list-col.breakable { word-wrap: break-word; word-break: break-all; }
.list-hdr { text-align: center; font-weight:bold; border: 1px solid; }
.list-row:hover, .detail-row:hover { background-color:#f0f0f0; }
.detail-row { padding-left: 0.25em; }
.detail-row > :first-child { border-left: 0.25em solid #696969; }
.detail-row[data-toggle="0"] { display: none; }
.more-btn {
    display: table-cell; width: 100%; text-align: center; padding: 0.5em;
}
.warning {
    font-size: 0.9em; position: fixed; top: 3.5em; left:50%;
    width: 30em; max-width: 99%;
    padding: 0.5em; background-color: rgba(255, 200, 0, 0.95);
    border: 0.2em solid #ffc300;
    -moz-border-radius: 0.33em; -webkit-border-radius: 0.33em;
    border-radius: 0.33em;
    -ms-transform: translate(-50%, 0); -o-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
#pageNav { border: 1px solid; padding: 0.5em; }
@media (min-width:1024px) {
    /* Floating navigation on large screens */
    #pageNav {
        position: fixed; top: 4.5em; right: 0.5em; width: 16em; margin: 0;
        font-size: 0.8em; background-color: rgba(255, 255, 255, 0.85);
        z-index: 99;
    }
    /* Hides links to navigation section on large screens */
    .goToNav { display: none }
}
#navToggle {
    font-size: 1.25em; font-weight: bold; padding: 0.33em;
    text-decoration: underline; cursor: pointer;
}
#navToggleEnable { display: none; }
#navToggleEnable:checked + label + ul { display: none; }
#navToggleEnable + label {
    padding: 8px; cursor: pointer;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAnklEQVQ4je2Quw3CQBBE7Q5IyA2ikIvuo5NmZ2MqoAFLNAAUQgIJLRkaoANMdBKGA3MpYqSNdt6Tdqvqp1MDaEmeYozzYlhEdqraq2pP8lIiqUVkm+A0InK21s5GYZKbR5Dk9VvJCwxg7b1vRKQblQBon+G0y0g6Y8xkICB5yME5Ccmbc24xKIQQpgD2AFbvbvTeN6p6BLD8+Ml/ynIH3AhiJOwVXC8AAAAASUVORK5CYII=') center no-repeat;
}
#navToggleEnable:checked + label {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAlklEQVQ4jWNgGAUowNvbW9PBwUEAjxJGHx8f/dDQUB4MGV9f3+TAwMD/AQEB97y8vOSxafb392+BqrlkbGzMhSLr7++/MTAw8D8OQ+CaYdjb21sT3flKAQEBj7AYgqHZz8+vBqsHPT09ldENCQgImIysOSAgoBZPGGEaQpJmfIYQrRmbITj9TAg4ODgIeHp6apGleegAAME5Y+rCcN+AAAAAAElFTkSuQmCC') center no-repeat;
}
.section { padding: 1em; }
.goToNav {float: right; font-size: 0.66em;}
            
{% endblock -%}
{% block subtitle -%}
            <div id="intro">
              {% block pagedescription -%}
              {% endblock -%}
              (last update <span id="last-update">{{ last }}</span>)
              <ul type="none">
                <li>
                  <a href="/{{ mode }}.json" download>
                    Download data in JSON format ({{ jsonsize }})
                  </a>
                </li>
                <li>
                  <a href="/{{ mode }}.csv" download>
                    Download data in CSV format ({{ csvsize }})
                  </a>
                </li>
              </ul>
            </div>
{% endblock -%}
{% block contents %}
            <a name="nav" class="section">
              <!-- Navigation anchor -->
            </a>
            <div id="pageNav">
              <label id="navToggle" for="navToggleEnable">Navigate</label>
              <input type="checkbox" id="navToggleEnable" />
              <label for="navToggleEnable">&nbsp;</label>
              <ul type="o">
                <li>
                  <a name="this" href="#">This page</a>
                  <ul>
                    <li><a href="#chartDisplay">Chart display</a></li>
                    <li><a href="#dataDetails">Data details</a></li>
                  </ul>
                </li>
                {% block navOthers %}{% endblock %}
              </ul>
            </div>
            <div id="data-viz">
              <a name="chartDisplay" class="section">
                <!-- Navigation anchor -->
              </a>
              <h2>Chart display</h2>
              <a class="goToNav" href="#nav">Back to navigation</a>
              <div>
                <label id="howto" for="howto-ctl">How to read the chart</label>
              </div>
              <input type="checkbox" id="howto-ctl" />
              <div class="explainer">
                {% block explainer1 -%}
                {% endblock -%}
              </div>
              <div id="viz-switcher">
                <span id="viz-summary" class="viz-tab selected"
                      data-view="summary">Summary</span>
                <span id="viz-by-year" class="viz-tab"
                      data-view="yearly">Year View</span>
                <span id="viz-by-month" class="viz-tab"
                      data-view="monthly">Month View</span>
                <span id="viz-opts">
                  <select id="view-selector"></select>
                  <label>
                    <input type="checkbox" id="cumulative-mode" /> Cumulative
                  </label>
                </span>
                <a href="#" id="view-refresh">Refresh</a>
              </div>
              <div id="viz-chart">
                <div id="viz-chart-wrapper" class="centered">
                  <canvas id="data-chart"></canvas>
                </div>
              </div>
              <a name="dataDetails" class="section">
                <!-- Navigation anchor -->
              </a>
              <h2>Data details</h2>
              <a class="goToNav" href="#nav">Back to navigation</a>
              {% block explainer2 -%}
              {% endblock -%}
              <div id="list-view">
                <div>
                  <div class="table-wrapper">
                    <div id="list-header">
                      <div>
                        {% block listHeader -%}
                        {% endblock -%}
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="table-wrapper">
                    <div id="list-data"></div>
                  </div>
                </div>
                <div id="load-more"></div>
              </div>
              <div id="loading-cover">
                <h2 class="centered">Loading...</h2>
              </div>
            </div>
{% endblock %}
{% block navigation -%}
            <a href="/" class="top-link" id="back-lnk">&lt; Dashboard</a>
            <div id="fwd-lnk">
              <a href="https://twitter.com/isftrafficdash?ref_src=twsrc%5Etfw" class="twitter-follow-button top-link" data-show-count="false">@isftrafficdash</a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                          </div>
{% endblock -%}
